{% extends 'layout.html' %}
{% block content %}
	<h1>About Page</h1>
	h1>How we make the market simpler and more efficient</h1>

<h4>Consumers</h4>



<p>From desire, to research, to decision - Auto Trader makes the consumer journey easier.Our platform offers consumers an unparalleled selection of new and used car listings , We also offer free car valuations and a variety of motoring services and advice to help consumers in their car buying journey.
<br>
As 52% of car buyers want to search for their next car by monthly price, we’ve launched a new finance search tool allowing consumers to search by monthly budget.</p>

<h4>Trade</h4>
<p>From marketing, to finance, to deal - Performance Motors makes the retailer journey easier.<br>

We offer a range of products and services to our retailer customers to help them win in today’s digital automotive marketplace.

Powered by both our own and third-party data, we offer data intelligence solutions (Retail Accelerator and Retail Check) enabling retailers to buy the right stock, at the right price.<br>

After gaining FCA authorisation, we can now enable retailers to display their own finance calculator as standard on their full page adverts on Auto Trader. This allows retailers to show their finance offerings much earlier on in the car buying journey, increasing the opportunity for them to sell their own finance over a consumer sourcing finance from elsewhere.<br>

Every retailer customer receives monthly performance dashboard analytics to help them assess their performance, and free access to best practice events.
<br>
We know that 75% of buyers consider new cars, so we added over 30,000 brand new car make/model variants on our marketplace. Make/model pages for all new cars improve the buying journey, and our extra content and annual New Car Awards enhances Auto Trader’s position in the new car market.
</p>
{% endblock content %}
