{% extends 'layout.html' %}
{% block content %}
	{% for post in posts %}
		
		<article class="media content-section">
		  
		    <div class="media-body">
		   			 <div class="article-metadata">
		   			 <br>
		    		<div class="carimages">
		    			<img width="100%" src={{post.imageurl}} "class="img-responsive" alt="Responsive image">
		    		</div>
		    		<br>
		    		</div>
				    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
				    <a class="mr-2" href="#">{{ post.user }}</a>
		    		<small class="text-muted">{{ post.datecreated }}</small>
				    <p class="article-content">{{ post.cardescription }}</p>
				     <p class="article-content">Car Mileage : {{ post.mileage }}</p>
				     <p class="article-content">Price : {{ post.price }}</p>
				      <p class="article-content">Car Location : {{ post.location }}</p>
				      	<p class="article-content">Contact Number for {{post.user}} : {{ post.contact }}</p>
		  	</div>

		</article>


	{% endfor %}
{% endblock content %}